{% extends 'base.html' %}
<!DOCTYPE html>
<HTML lang="en">
<head>
	<title> {% block title %}Login | KBI Student Union{% endblock title %} </title>
</head>
<body>
	{% block content %}
		<h1><strong>Login</strong></h1>
		<br>
		<form method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Login</button>
		</form>
		<br>
		<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
		<br>
		<a href="{% url 'register' %}">Haven't created a member account yet?</a>
	{% endblock content %}
</body>
</HTML>