{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{% block title %}About | KBI Student Union{% endblock title %}
    </head>
    <body>
    {% block content %}
        <div class="aboutKBI">
            <div class="row">
                <div class="col-sm-6">
                    <p> Student Union Kampus Baru Indonesia adalah sebuah website yang dibuat khusus untuk mahasiswa dari mahasiswa.
                        Dengan tujuan agar mahasiswa dapat mempromosikan event yang mereka lakukan, dan juga memberikan infomrasi mengenai berita-berita kampus.
                        Dibuat oleh 3 orang mahasiswa fakultas Ilmu Komputer yang sedang iseng dan mencari pendapatan. 
                    </p>
                </div>
                <div class="col-sm-6">
                    <p> Student Union Kampus Baru Indonesia adalah sebuah website yang dibuat khusus untuk mahasiswa dari mahasiswa.
                        Dengan tujuan agar mahasiswa dapat mempromosikan event yang mereka lakukan, dan juga memberikan infomrasi mengenai berita-berita kampus.
                        Dibuat oleh 3 orang mahasiswa fakultas Ilmu Komputer yang sedang iseng dan mencari pendapatan. 
                    </p>
                </div>
            </div>
        </div>
    {% endblock content %}
</html>